
<h1>great athletes list</h1>
 
<div>
    <ul>
        <% athletes.forEach(function(athlete) { %>
            <li><%= athlete.name %> - <%= athlete.sport %></li>
        <% }); %>
    </ul>          
</div>